.image_container{
    display:flex;
    justify-content: center;
    margin-top: 1%;
}

body{
    display:flex;
    flex-direction: column;
}

img{
    width: 290px;
    height:50px;
}

.sign-in-container{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: solid rgba(0, 0, 0, 0.105); 
    margin-right: 35%;
    margin-left: 35%;
    margin-top: 3%;
    border-radius: 4px;
}


#continue{
    display: block;
    width: 264px;
    margin-top: 6%;
    margin-bottom: -5%;
    background: rgb(250,241,154);
    background: linear-gradient(0deg, rgba(250,241,154,1) 0%, rgba(253,187,45,1) 100%);
    border-radius: 4px;
    border-color: rgba(0, 0, 0, 0.415);
    padding: 3%;
    border-width: 1px;
}

#email-button{
    width: 243px;
    padding: 3%;
    border-radius: 4px;
    border-width: 1px;
}
#sign-in{
    align-self: flex-start;
    margin-bottom: -10%;
    margin-left: 12%;
    font-family: Arial, Helvetica, sans-serif;
}
#email{
    align-self: flex-start;
    margin-bottom: -5%;
    margin-left: 12%;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

#continuing-prompt{
    font-size: 60%;
    margin-right: 10%;
    margin-left: 12%;
    font-family: Arial, Helvetica, sans-serif;

}

.new-to-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.new-to-container hr{
    width: 100%;
}

.new-to-container h5{
    white-space: nowrap;
}

#need-help{
    font-size: 78%;
    margin-right:59%;
    font-family: Arial, Helvetica, sans-serif;
}
.ama{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#create-ama{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    padding: 6px;
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 4px;
    background: rgb(217,216,213);
    background: linear-gradient(0deg, rgba(217,216,213,1) 0%, rgba(255,255,255,1) 100%);
    border-width: 1px;
}
.footer-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    background: rgb(217,216,213);
    background: linear-gradient(0deg, rgba(217,216,213,1) 0%, rgba(255,255,255,1) 100%);
}
#conditions-foot{
    align-self: center;
    padding-right: 10px;
    font-size: 15px;
}

#privacy-foot{
    align-self: center;
    padding-right: 10px;
    font-size: 15px;

}
#help-foot{
    align-self:center;
    padding-right: 10px;
    font-size: 15px;

}
.sub-foot{
    display: flex;
    justify-content: center;
}